<h1>Editing project</h1>

<%= render 'form' %>
<br />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="span6">
      <h1>Update Campaign</h1><br />
      <%= form_for(@campaign) do |f| %>

          <%= f.label :title %>
          <%= f.text_field :title %>

          <%= f.label :fundtarget %>
          <%= f.number_field :fundtarget %>

          <%= f.label :campaignlength %>
          <%= f.number_field :campaignlength %>

          <%= f.label :description %>
          <%= f.text_field :description %><br />

          <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
